body {
    background-color: #272822;
}

.centered {
    max-width: 720px;
	margin-left: auto;
	margin-right: auto;
    position: relative;
	text-align: center;
}

#name {
    font-family: 'Source Code Pro', sans-serif;
    color: #66D9EF;
    font-size: 100px;
}

#subtitle {
    font-family: Roboto, sans-serif;
    color: #A6E22E;
    font-size: 50px;
}

#links {
    font-family: Roboto, sans-serif;
    font-size: 40px;
}

#links a {
    text-decoration: none;
    color: #F92672;
}

#links a:hover {
    text-decoration: none;
    color: #FD971F;
}