{% extends "blog/base.html" %}
{% block content %}

{% block title %}
<div id="toplogo">Temporary Internet Files</div>
<div id="mainlogo"><a href="{% url "blog_index" %}">Sparrow <i>&</i> Raziel</a></div>
<div id="bottomlogo">Nakódeníčko a zápisníček</div>
{% endblock %}

{% block body%}
{% endblock %}

<div class="tailing">Alltagz:</div>
{% for author in authors %}
<a href="{% url "author_list" name=author.username %}"><div class="tag red">{{ author }}</div></a>
{% endfor %}
{% for tag in tags %}
<a href="{{ tag.get_absolute_url }}"><div class="tag green">{{ tag }}</div></a>
{% endfor %}
<div style="clear: both;"></div>

<div class="tailing">Konečník:</div>
Jan Sedlák a Lukáš Brabec, léta páně 2013
{% endblock %}
