{% extends "projects/base_page.html" %}

{% block title %}
    <h1>{{ index_of }}</h1>
{% endblock %}

{% block body %}
    {% for project in projects %}
        <div class="project">
            <div class="langs">
                {% for lang in project.languages.all %}
                    <a href="{{ lang.get_absolute_url }}">{{ lang.name }}</a>
                {% endfor %}
            </div>
            <div class="tags">
                {% for tag in project.tags.all %}
                    <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>
                {% endfor %}
            </div>
            <a href="{{ project.get_absolute_url }}">{{ project.name }}</a>
        </div>
    {% endfor %}
{% endblock %}