{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Jan Sedlák</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="centered">
        <div id="name">jan sedlák</div><br/>
        <div id="subtitle">student ● programmer</div><br/>
        <div id="links">
            <a href="{% url "projects_index" %}">projects</a><hr>
            <a href="{% url "contact" %}">contact</a><hr>
            <a href="{% url "blog_index" %}">blog</a>
        </div>
    </div>
</body>
</html>